* { margin: 0; padding: 0; }
html { overflow-y: scroll;}
body { background:#ffffff; font-size: 13px; color: #666666; font-family: Arial, helvetica, sans-serif;}
ol, ul { list-style: none; margin: 0;}
ul li { margin: 0; padding: 0;}
h1 { margin-bottom: 10px; color: #111111;}   
a, img { outline: none; border:none; color: #000; font-weight: bold; text-transform: uppercase;}
p { margin: 0 0 10px; line-height: 1.4em; font-size: 1.2em;}

aside { font-style: italic; font-size: 0.9em;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display: block;
   }


   div {
   border-radius: 7px;
}

a {
   border-radius: 7px;
}

#banner
{
   height: 100px;
   width: auto;
   background-color: #2D867D;
   margin: auto;
   margin-bottom: 15px;
   float: top;
   position: center fixed; 
   vertical-align: bottom;

}
#banner h1
{
   text-align: center;
   /*position: center fixed; */
   color: #192525;
   background-color: #2D867D;
   margin: auto;
   font-size: 2em;
   font-family: "Verdana", sans-serif;
   
}

ul.menu-list
{
   list-style-type: none;
   padding: 0;
   margin: 1em 0em;
   text-align: center;

}
 
li.menu-item
{
   display: inline;
   margin: 0em .5em;
   padding: 6px;
   border-style:solid;
   background-color: #2D867D;
   color: #2D867D;
   border-width:5px;
   text-align: center;
   border-radius: 7px;
}
 
a.menu-item-link
{
   font-family: &amp;quot;Bebas Neue&amp;quot;,Calibri,Arial,Helvetica,sans-serif;
   font-size: 1.3em;
   text-decoration: none;
   color: #192525;
   position: relative;
   background-color: #2D867D;
}
 
a.menu-item-link:hover
{
   color: #ffffff;
}
 
a.menu-item-link:active
{
   top: 0.1em;
   left: 0.1em;
}
 
#menu-select
{
   display: none;
}


body
{
   max-width: 1024px;
   margin: 0 auto;
   font-family: &amp;quot;Cwmagic&amp;quot;,Calibri,Arial,Helvetica,sans-serif;
   background-color: #E3E3E3;
   font-size: 1.2em;
   line-height: 1.5em;
}
 
img
{
   border: 0em;
}
 
h1,
h2,
h3
{
   text-align: center;
}
 
 

 
.long-box,
.small-box
{
   background-color: #cdcdcd;
   padding: 0em 0.3em;
   margin: 0em;
   margin-bottom: 1em;
}
 
.small-box
{
   width: 47%;
}
 
p
{
   margin-top: 0;
   margin-bottom: 0.5em;
}

#main-footer
{
   background-color: #2D867D;
   text-align: center;
   border-radius: 7px;

}
 




@media screen and (max-width: 480px) {

   #skipTo {
      display: block;
      }

ul.menu-list
{
width: auto;

}
 
li.menu-item
{
margin: 0;
padding: 6px;
background-color: #2D867D;
color: #2D867D;
display:block;
float:left;
clear:left;

}
 
a.menu-item-link
{

}
 
a.menu-item-link:hover
{
   text-align: center;
   color: #192525;
}
 
a.menu-item-link:active
{
   top: 0.1em;
   left: 0.1em;
}

   header nav, #main, aside {
      float: left;
      clear: left;
      margin: 0 0 10px; 
      width: 100%;
      }  



}